<section class="el-regular-section contuct-us">
        <div class="container">
            <h2>Contact Us</h2>
            <div class="el-underline mod-blue-regular"></div>
            <div class="js-section-text el-section-text" data-width="680px" >                   
                <p>It is a long established fact that a reader will be distracted by the readable content
                        of a page when looking at its layout point of using Lorem Ipsum
                </p>
            </div> 
            <div class="row" style="width: 100%;"></div>           
            <div class="el-section-content-column">
                <div class="contact-wrap">
                    <h3>Kyiv</h3>
                    <ul class="el-info-list">
                        <li> <div class="img-wrap"><img src="../img/content/location.png" alt=""></div>02095 23 Avtozavodskaya str.</li>
                        <li> <div class="img-wrap"><img src="../img/content/mail.png" alt=""></div><a href="mailto:info@fdigital.com">info@fdigital.com</a></li>
                        <li> <div class="img-wrap"><img src="../img/content/tel.png" alt=""></div><a href="tell:+38 (098) 41 - 23 - 245">+38 (098) 41 - 23 - 245</a></li>
                    </ul>
                </div>                
                <div class="contact-wrap">
                    <h3>USA</h3>
                    <ul class="el-info-list">
                        <li><div class="img-wrap"><img src="../img/content/location.png" alt=""></div>48104 5 Green Avenue, Apt. 3</li>
                        <li><div class="img-wrap"><img src="../img/content/mail.png" alt=""></div><a href="mailto:info@fdigital.com">info@fdigital.com</a></li>
                        <li><div class="img-wrap"><img src="../img/content/tel.png" alt=""></div><a href="tell:+1 (415) 56 - 56 - 566">+1 (415) 56 - 56 - 566</a></li>
                    </ul>
                </div>   
               
            </div>
            <form action="" class="js-validate el-form-regular">
                <div class="el-form-field">
                    <input type="text" name="name" placeholder="Your Name*" required>   
                </div>
                <div class="el-form-field">
                    <input type="email" name="e-mail" placeholder="Your E-mail*" required>
                </div>
                <div class="el-form-field">
                    <input type="text" name="tel" placeholder="Your Phone*" required>
                </div>
                <div class="el-form-field">
                    <input type="text" name="subject" placeholder="Subject" required>
                </div>               
                <textarea name="" id="" cols="30" rows="4" placeholder="Your Message"></textarea>
               
                <div class="button-cover">
                    <button class="el-regular-button mod-standart mod-blue">Send</button>
                </div>
                
            </form>
                
        </div>
    </section>