<footer id="footer" class="page-footer">
  <div class="container">
    <div class="lists-wrap">
      <div class="el-footer-column">
          <h3>Who We Are</h3>
          <ul>
            <li><a href="#"> About Us</a></li>
            <li><a href="#"> Management Team</a></li>
            <li><a href="#"> Board of Directors</a></li>
            <li><a href="#"> FDS University</a></li>
            <li><a href="#"> Partners</a></li>
            <li><a href="#"> Corporate Social Responsibility</a></li>
            <li><a href="#"> Global Locations</a></li>
          </ul>
        </div>
        <div class="el-footer-column">
          <h3>What We Do</h3>
          <ul>
            <li><a href="#"> Software Development</a></li>
            <li><a href="#"> Experience Design</a></li>
            <li><a href="#"> Dev Ops</a></li>
            <li><a href="#"> Security</a></li>
            <li><a href="#"> Quality Assurance</a></li>
            <li><a href="#"> ProjectRejuvenation</a></li>
          </ul>
        </div>
        <div class="el-footer-column">
          <h3>How We Work</h3>
          <ul>
            <li><a href="#"> Best in Class Practices</a></li>
            <li><a href="#"> Frequent Releases</a></li>
            <li><a href="#"> Open Source</a></li>
            <li><a href="#"> Testing</a></li>
            <li><a href="#"> Transparency</a></li>
          </ul>
        </div>
        <div class="el-footer-column">
          <h3>Our Values</h3>
          <ul>
            <li><a href="#"> About Us</a></li>
            <li><a href="#"> Management Team</a></li>
            <li><a href="#"> Board of Directors</a></li>
            <li><a href="#"> FDS University</a></li>
            <li><a href="#"> Partners Corporate </a></li>
          </ul>
        </div>
        <div class="el-footer-column">
          <h3>Newsroom</h3>
          <ul>
            <li><a href="#"> News</a></li>
            <li><a href="#"> Awards</a></li>
            <li><a href="#">  Events</a></li>
            <li><a href="#"> FDS in the Media</a></li>
            <li><a href="#"> Media Kit</a></li>
            <li><a href="#"> Knowledge Center</a></li>
          </ul>
        </div>
      </div>
  </div>
    
  <div class="bottom">
    <div class="container">
      <p>FountainheadDigital 2017 All rights reserved.</p>
    </div>
  </div>
</footer>
