<header id="header" class="page-header">
  <div class="container"> 
    <div class="inner-wrap mod-descktop">
        <div class="el-header-icon">
            <a href="/">
                <img src="../img/main-logo.png" alt="">
            </a>         
          </div>
          <ul class="el-menu-list">
              <li class="list-item">
                <a href="javascript: void(0)">
                  Home      
                </a>
              </li>
              <li class="list-item">
                <a href="javascript: void(0)">
                 Services   
                </a>
              </li>
              <li class="list-item">
                <a href="javascript: void(0)">
                  Technology       
                </a>
              </li>
              <li class="list-item">
                <a href="javascript: void(0)">
                  Our Approach         
                </a>
              </li>
              <li class="list-item">
                <a href="javascript: void(0)">              
                  Careers      
                </a>
              </li>
          </ul>
          <a href="#" class="el-regular-button mod-blue mod-standart">Contact Us</a>  
    </div>
    
    <div class="inner-wrap mod-mobile">
        <div class="el-header-icon">
            <a href="/">
                <img src="../img/content/main-logo-mobile.png" alt="">
            </a>         
        </div>

        <div class="js-menu-button el-menu-button">
            <div class="line"></div>
            <div class="line"></div>
            <div class="line"></div>
        </div>
        <div class="js-slide-down-menu el-slide-down-menu">
            <ul class="el-menu-list">
                <li class="list-item">
                  <a href="javascript: void(0)">
                    Home      
                  </a>
                </li>
                <li class="list-item">
                  <a href="javascript: void(0)">
                   Services   
                  </a>
                </li>
                <li class="list-item">
                  <a href="javascript: void(0)">
                    Technology       
                  </a>
                </li>
                <li class="list-item">
                  <a href="javascript: void(0)">
                    Our Approach         
                  </a>
                </li>
                <li class="list-item">
                  <a href="javascript: void(0)">              
                    Careers      
                  </a>
                </li>
            </ul>
            <a href="#" class="el-regular-button mod-blue mod-standart">Contact Us</a>  
        </div>
    </div>
        
   
  </div>
</header>
