<section class="el-regular-section mod-bg-gray our_approach">
    <div class="container">
        <h2>Our Approach</h2>
        <div class="el-underline mod-blue-regular"></div>
        <div class="el-section-img-column">
            <img src="../img/content/section-image1.png" alt="">
        </div>     
        <div class="el-section-content-column">
            <p>It is a long established fact that a reader will be distracted
                    by the readable content of a page when looking at its layout.</p>
            <ul class="el-regular-list mod-descktop">
                <li>
                    <div class="js-el-popup el-popup">
                        <div class="heading">
                            <img src="../img/content/popup-image.png" alt="">
                            <h4>DevOps</h4>
                        </div>
                        <p>Efficient data structures that meet your volume and reporting requirements.</p>
                        <ul class="popup-list">
                            <li>Comprehensive automated Testing.</li>
                            <li>Rapid Deployment.</li>
                            <li>Frequent releases.</li>
                        </ul>
                        <ul class="images-list">
                            <li><img src="../img/content/popup-image1.png" alt=""></li>
                            <li><img src="../img/content/popup-image2.png" alt=""></li>
                            <li><img src="../img/content/popup-image3.png" alt=""></li>
                        </ul>
                    </div>
                    <h3>Agile</h3>
                    <p> Efficient data structures that meet your volume and reporting requirements.</p>
                </li>
                <li>
                    <div class="js-el-popup el-popup">
                        <div class="heading">
                            <img src="../img/content/popup-image.png" alt="">
                            <h4>DevOps</h4>
                        </div>
                        <p>Efficient data structures that meet your volume and reporting requirements.</p>
                        <ul class="popup-list">
                            <li>Comprehensive automated Testing.</li>
                            <li>Rapid Deployment.</li>
                            <li>Frequent releases.</li>
                        </ul>
                        <ul class="images-list">
                            <li><img src="../img/content/popup-image1.png" alt=""></li>
                            <li><img src="../img/content/popup-image2.png" alt=""></li>
                            <li><img src="../img/content/popup-image3.png" alt=""></li>
                        </ul>
                    </div>
                    <h3>DevOps</h3>
                    <p> Efficient data structures that meet your volume and reporting requirements.</p>
                </li>
                <li>
                    <div class="js-el-popup el-popup">
                        <div class="heading">
                            <img src="../img/content/popup-image.png" alt="">
                            <h4>DevOps</h4>
                        </div>
                        <p>Efficient data structures that meet your volume and reporting requirements.</p>
                        <ul class="popup-list">
                            <li>Comprehensive automated Testing.</li>
                            <li>Rapid Deployment.</li>
                            <li>Frequent releases.</li>
                        </ul>
                        <ul class="images-list">
                            <li><img src="../img/content/popup-image1.png" alt=""></li>
                            <li><img src="../img/content/popup-image2.png" alt=""></li>
                            <li><img src="../img/content/popup-image3.png" alt=""></li>
                        </ul>
                    </div>
                    <h3>Security and Privacy</h3>
                    <p> Efficient data structures that meet your volume and reporting requirements.</p>
                </li>
                <li>
                    <div class="js-el-popup el-popup">
                        <div class="heading">
                            <img src="../img/content/popup-image.png" alt="">
                            <h4>DevOps</h4>
                        </div>
                        <p>Efficient data structures that meet your volume and reporting requirements.</p>
                        <ul class="popup-list">
                            <li>Comprehensive automated Testing.</li>
                            <li>Rapid Deployment.</li>
                            <li>Frequent releases.</li>
                        </ul>
                        <ul class="images-list">
                            <li><img src="../img/content/popup-image1.png" alt=""></li>
                            <li><img src="../img/content/popup-image2.png" alt=""></li>
                            <li><img src="../img/content/popup-image3.png" alt=""></li>
                        </ul>
                    </div>
                    <h3>Analytics</h3>
                    <p> Efficient data structures that meet your volume and reporting requirements.</p>
                </li>
                <li>
                    <div class="js-el-popup el-popup">
                        <div class="heading">
                            <img src="../img/content/popup-image.png" alt="">
                            <h4>DevOps</h4>
                        </div>
                        <p>Efficient data structures that meet your volume and reporting requirements.</p>
                        <ul class="popup-list">
                            <li>Comprehensive automated Testing.</li>
                            <li>Rapid Deployment.</li>
                            <li>Frequent releases.</li>
                        </ul>
                        <ul class="images-list">
                            <li><img src="../img/content/popup-image1.png" alt=""></li>
                            <li><img src="../img/content/popup-image2.png" alt=""></li>
                            <li><img src="../img/content/popup-image3.png" alt=""></li>
                        </ul>
                    </div>
                    <h3>Open Source</h3>
                    <p> Efficient data structures that meet your volume and reporting requirements.</p>
                </li>
            </ul>
        </div>
        <ul class="js-regular-list el-regular-list mod-mobile">
            <li>
                <h3>Agile</h3>
                <div class="js-sliding-content el-sliding-content">
                    <p>Efficient data structures that meet your volume and reporting requirements.</p>
                    <ul class="popup-list">
                        <li>Comprehensive automated Testing.</li>
                        <li>Rapid Deployment.</li>
                        <li>Frequent releases.</li>
                    </ul>
                </div>
            </li>
            <li>
                <h3>DevOps</h3>
                <div class="js-sliding-content el-sliding-content">
                    <p>Efficient data structures that meet your volume and reporting requirements.</p>
                    <ul class="popup-list">
                        <li>Comprehensive automated Testing.</li>
                        <li>Rapid Deployment.</li>
                        <li>Frequent releases.</li>
                    </ul>
                </div>
            </li>
            <li>               
                <h3>Security and Privacy</h3>
                <div class="js-sliding-content el-sliding-content">
                    <p>Efficient data structures that meet your volume and reporting requirements.</p>
                    <ul class="popup-list">
                        <li>Comprehensive automated Testing.</li>
                        <li>Rapid Deployment.</li>
                        <li>Frequent releases.</li>
                    </ul>
                </div>                        
            </li>
            <li>
                <h3>Analytics</h3>
                <div class="js-sliding-content el-sliding-content">
                    <p>Efficient data structures that meet your volume and reporting requirements.</p>
                    <ul class="popup-list">
                        <li>Comprehensive automated Testing.</li>
                        <li>Rapid Deployment.</li>
                        <li>Frequent releases.</li>
                    </ul>
                </div>
            </li>
            <li>
                <h3>Open Source</h3>
                <div class="js-sliding-content el-sliding-content">
                    <p>Efficient data structures that meet your volume and reporting requirements.</p>
                    <ul class="popup-list">
                        <li>Comprehensive automated Testing.</li>
                        <li>Rapid Deployment.</li>
                        <li>Frequent releases.</li>
                    </ul>
                </div>
            </li>
        </ul>     
    </div>
</section>