<section class="el-regular-section mod-bg-gray portfolio">
        <div class="container">             
            <h2>Portfolio</h2>
            <div class="el-underline mod-blue-regular"></div>
            <ul class="js-portfolio-slider el-slider">
                <li>
                    <div class="wrap">
                        <div class="inner-wrap">
                            <a href="#">
                                <img src="../img/content/slider-image1.jpg" alt="">
                            </a>
                        </div>
                    </div>
                </li>
                <li>
                    <div class="wrap">
                        <div class="inner-wrap">
                            <a href="#">
                                <img src="../img/content/slider-image2.jpg" alt="">
                            </a>
                        </div>
                    </div>
                </li>
                <li>
                    <div class="wrap">
                        <div class="inner-wrap">
                            <a href="#">
                                <img src="../img/content/slider-image3.jpg" alt="">
                            </a>
                        </div>
                    </div>
                </li>
                <li>
                    <div class="wrap">
                        <div class="inner-wrap">
                            <a href="#">
                                <img src="../img/content/slider-image4.jpg" alt="">
                            </a>
                        </div>
                    </div>
                </li>
                <li>
                    <div class="wrap">
                        <div class="inner-wrap">
                            <a href="#">
                                <img src="../img/content/slider-image1.jpg" alt="">
                            </a>
                        </div>
                    </div>
                </li>
                <li>
                    <div class="wrap">
                        <div class="inner-wrap">
                            <a href="#">
                                <img src="../img/content/slider-image2.jpg" alt="">
                            </a>
                        </div>
                    </div>
                </li>
            </ul>

            
            <div class="js-section-text el-section-text" data-width="930px">
                <h3>Oransh</h3>
                <p><span style="color:#27aae1;">Lorem Ipsum is simply dummy text of the printing and typesetting
                     industry.</span> Lorem Ipsum has been the industry's standard dummy text ever since the 1500s,
                      when an unknown printer took a galley of type and scrambled it to make a type specimen book. 
                </p>
                <p>It has survived not only five centuries, but also the leap into electronic typesetting,
                    remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset
                    sheets containing Lorem Ipsum passages, and more recently with desktop publishing software
                    like Aldus PageMaker including versions of Lorem Ipsum.</p>
            </div>            
            
        </div>
    </section>