<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>

<!-- build:js js/libs.min.js -->
<script src="js/libs.js"></script>
 <!-- endbuild -->
<script src="js/common.js"></script>
