<section class="el-regular-section md-right">
        <div class="container">
            <h2>Services</h2>
            <div class="el-underline mod-blue-regular"></div>             
            <div class="el-section-content-column">
                <p>We provide a range of services tailored to meet our clients’ needs. Eliminate technology
                    risk by partnering with us so you could focus on developing your business. We strive to
                    be a reliable partner that helps to move your business forward.</p>
                <ul class="el-regular-list mod-descktop">
                    <li>
                        <div class="el-popup">
                            <div class="heading">
                                <img src="../img/content/popup-image5.png" alt="">
                                <h4>Solution Architecture</h4>
                            </div>
                            <p>Effective system design that meets your functional, performance and cost requirements</p>
                            <p style="font-size: 18px; text-indent: 25px;">
                                    A robust architecture is a prerequisite for delivery of a system
                                    that is performant, highly available, extensible and easily maintained.
                                    Just as important, is a timely, cost effective implementation and rollout.
                                    Our design process ensures that resulting system meets set requirements and
                                    budget.
                            </p>
                            <ul class="popup-list">
                                <li>Componentization for gradual rollout and frequent deliverables in order to facilitate predictable
                                     timeframes and minimize delivery risk through early va</li>
                                <li>Use of suitable Open Source components to reduce development time and costs.</li>
                                <li>Highly available systems that are resilient to hardware and connection failures.</li>
                                <li>Automated deployment and testing for increase quality.</li>
                                <li>Instrumentation for visibility into state of the system for ease of support and maintenance.</li>
                                <li>Selection of appropriate hosting platforms that facilitate 	performance and scaling requirements
                                    while optimizing recurring costs.</li>
                            </ul>
                        </div>
                        <h3>Product Design</h3>
                        <p> Together we come up with the most effective solution for you
                            and your customers</p>
                    </li>
                    <li>
                        <h3>Solution Architecture</h3>
                        <p>Effective system design that meets your functional, performance and cost requirements.</p>
                    </li>
                    <li>
                        <h3>Dedicated Teams</h3>
                        <p>Start and move fast with your own dedicated team scaling
                           it as needed.</p>
                    </li>
                    <li>
                        <h3>System Modernization</h3>
                        <p>Modernize your legacy system and increase efficiency.</p>
                    </li>
                    <li>
                        <h3>Managed Support</h3>
                        <p>Competent 24/7 support coverage for your system.</p>
                    </li>
                </ul>
            </div>
            <div class="el-section-img-column">
                <img src="../img/content/section-image2.png" alt="">
            </div>
            <ul class="js-regular-list el-regular-list mod-mobile">
                <li>
                    <h3>Product Design</h3>
                    <div class="js-sliding-content el-sliding-content">
                        <p>Effective system design that meets your functional, performance and cost requirements</p>
                        <p style="font-size: 18px; text-indent: 25px;">
                                A robust architecture is a prerequisite for delivery of a system
                                that is performant, highly available, extensible and easily maintained.
                                Just as important, is a timely, cost effective implementation and rollout.
                                Our design process ensures that resulting system meets set requirements and
                                budget.
                        </p>
                        <ul class="popup-list">
                            <li>Componentization for gradual rollout and frequent deliverables in order to facilitate predictable
                                    timeframes and minimize delivery risk through early va</li>
                            <li>Use of suitable Open Source components to reduce development time and costs.</li>
                            <li>Highly available systems that are resilient to hardware and connection failures.</li>
                            <li>Automated deployment and testing for increase quality.</li>
                            <li>Instrumentation for visibility into state of the system for ease of support and maintenance.</li>
                            <li>Selection of appropriate hosting platforms that facilitate 	performance and scaling requirements
                                while optimizing recurring costs.</li>
                        </ul>                        
                    </div>
                </li>
                <li>
                    <h3>Solution Architecture</h3>
                    <div class="js-sliding-content el-sliding-content">
                        <p>Efficient data structures that meet your volume and reporting requirements.</p>
                        <ul class="popup-list">
                            <li>Comprehensive automated Testing.</li>
                            <li>Rapid Deployment.</li>
                            <li>Frequent releases.</li>
                        </ul>
                    </div>
                </li>
                <li>               
                    <h3>Dedicated Teams</h3>
                    <div class="js-sliding-content el-sliding-content">
                        <p>Efficient data structures that meet your volume and reporting requirements.</p>
                        <ul class="popup-list">
                            <li>Comprehensive automated Testing.</li>
                            <li>Rapid Deployment.</li>
                            <li>Frequent releases.</li>
                        </ul>
                    </div>                        
                </li>
                <li>
                    <h3>System Modernization</h3>
                    <div class="js-sliding-content el-sliding-content">
                        <p>Efficient data structures that meet your volume and reporting requirements.</p>
                        <ul class="popup-list">
                            <li>Comprehensive automated Testing.</li>
                            <li>Rapid Deployment.</li>
                            <li>Frequent releases.</li>
                        </ul>
                    </div>
                </li>
                <li>
                    <h3>Managed Support</h3>
                    <div class="js-sliding-content el-sliding-content">
                        <p>Efficient data structures that meet your volume and reporting requirements.</p>
                        <ul class="popup-list">
                            <li>Comprehensive automated Testing.</li>
                            <li>Rapid Deployment.</li>
                            <li>Frequent releases.</li>
                        </ul>
                    </div>
                </li>
            </ul>             
        </div>
    </section>