<section class="el-regular-section technology">
        <div class="container">
            <h2>Technology</h2>
            <div class="el-underline mod-blue-regular"></div>
            <div class="el-section-img-column">
                <img src="../img/content/section-image3.png" alt="">
            </div>                 
            <div class="el-section-content-column ">
                <p>We select the most appropriate technologies in order to meet your business requirements. We factor in functionality, ease
                   of development and support as well upfront and recurring costs.</p>
                <ul class="el-regular-list mod-descktop">
                    <li>
                        <h3>Mobile</h3>
                        <p>Native and cross-platform solutions that meet your needs.</p>
                    </li>
                    <li>
                        <h3>Server-side</h3>
                        <p>Robust back-end API services for your Web and Mobile applications.</p>
                    </li>
                    <li>
                        <h3>Open Source</h3>
                        <p>Use of high quality, proven components for time and cost savings.</p>
                    </li>
                    <li>
                        <h3>Cloud Computing</h3>
                        <p>Elastic resources that provide reliable on-demand resources.</p>
                    </li>
                    <li>
                        <h3>Data Analytics</h3>
                        <p>Efficient data structures that meet your volume and reporting
                        requirements.</p>
                    </li>
                </ul>
            </div>
            <ul class="js-regular-list el-regular-list mod-mobile">
                    <li>
                        <h3>Mobile</h3>
                        <div class="js-sliding-content el-sliding-content">
                            <p>Native and cross-platform solutions that meet your needs.</p>
                        </div>
                    </li>
                    <li>
                        <h3>Server-side</h3>
                        <div class="js-sliding-content el-sliding-content">
                            <p>Robust back-end API services for your Web and Mobile applications.</p>                                
                        </div>
                    </li>
                    <li>               
                        <h3>Open Source</h3>
                        <div class="js-sliding-content el-sliding-content">
                            <p>Use of high quality, proven components for time and cost savings.</p>                        
                        </div>                        
                    </li>
                    <li>
                        <h3>Cloud Computing</h3>
                        <div class="js-sliding-content el-sliding-content">
                        <p>Elastic resources that provide reliable on-demand resources.</p>
                        
                        </div>
                    </li>
                    <li>
                        <h3>Data Analytic</h3>
                        <div class="js-sliding-content el-sliding-content">
                            <p>Efficient data structures that meet your volume and reporting
                                    requirements.</p>
                        </div>
                    </li>
                </ul>    
                
        </div>
    </section>