<section class="top-block">
    <div class="container">
        <div class="el-inner-text-wrap">
                <div class="img-container">
                    <img src="../img/content/top-block-background.jpg" alt="top-block-background">
                </div>
                <h1>Fountainhead Digital:<span style="color: #27aae1"> Forward. Digitally</span></h1>
                <div class="el-underline mod-darck-blue"></div>                
                <p><span style="color: #27aae1">We are a leading full lifecycle software development company</span> focused on delivering
                    the next generation of customized software solutions designed to meet our clients growing business
                    demands. <span style="color: #27aae1">Our team’s extensive experience in</span> – and passion for – designing
                    and developing innovative technology allows us to deliver first-class service to our clients
                    in a quality centric and cost effective way.</p>
                <div class="js-scroll-button el-scroll-button" data-target="our_approach">
                        <div class="arrow-down icon"></div>
                </div>
        </div>        
    </div>   
</section>