<section class="el-regular-section who_we_are">
        <div class="container">
            <div class="img-container">
                <img src="../img/content/section-image4.png" alt="top-block-background">
            </div>                
            <h2>Who We Are</h2>
            <div class="el-underline mod-blue-regular"></div>
            <div class="js-section-text el-section-text" data-width="900px">
                <p><span style="color:#27aae1;">Whether you’re a budding entrepreneur or an established company looking to enter a new market</span>,
                    streamline existing business operations or manage periods of fast growth – we can help take your business
                    Forward. Digitally. 
                </p>
            </div>            
            <div class="el-flex-items-cotainer">
                <div class="item">
                    <img src="../img/content/item-image1.png" alt="">
                    <div class="js-same-height header-container">
                        <h3>Clients First</h3>
                    </div>                    
                    <p>Our clients are at the forefront of everything we
                        do and we are unrelenting in our commitment
                        to provide them with a responsive, transparent experience throughout the project and beyond.
                        Our culture is built around high quality of service and we intend to deliver it from day one forward.
                    </p>
                </div>
                <div class="item">
                    <img src="../img/content/item-image2.png" alt="">
                    <div class="js-same-height header-container">
                        <h3>Doing Business in the First Class Way</h3>
                    </div>                    
                    <p>Integrity must be the defining characteristic
                            of our firm and it is our prerogative to transact
                            our business in a principled, accountable way.
                            While there may be geographical constraints
                            we make sure that no such gaps exist
                            in our communication, understanding
                            and commitments. 
                    </p>
                </div>
                <div class="item">
                    <img src="../img/content/item-image3.png" alt="">
                    <div class="js-same-height header-container">
                        <h3>Future is Now</h3>
                    </div>                        
                    <p>We build and design solutions that do not only meet current needs, but those that have the future state
                            in mind. We stay abreast of current technological
                            and business trends and design our software 
                            with flexibility and adaptability in mind
                                so that in the end our clients are better positioned
                            to build up upon existing capabilities in an efficient and effective way.
                            
                    </p>
                </div>
            </div>
            
        </div>
    </section>