// elements
//-----------------------------------------------------------------------------------
.el-inner-text-wrap{ width: 100%; max-width: 685px; margin: 0 auto;   text-align: center; font-family: $slabo-font;  font-size: 20px;line-height: 1.6;
}

.el-header-icon{min-width: 325px;
    img{width: 100%; height: 100%; object-fit: cover;}
}

.el-menu-button{width: 24px; height: 20px; display: flex; flex-wrap: wrap; justify-content: center;
     align-items: stretch;  align-content: space-between; cursor: pointer;
    .line{height: 3px; width: 100%; background: $blue-regular; border-radius: 10px;}
}

.el-menu-list{display: flex; width: 535px; justify-content: space-between;
    .list-item{ padding:  10px 0;
        &:not(:last-child){margin-right: 0px;}
    }
    a{ color: #494e68; font-family: $hind-font;font-size: 18px; font-weight: 400;
        transition: .3s; position: relative; line-height: 1;
        &:after{content: '';position: absolute; width: 0%; min-height: 1px; background:  $blue-regular;
             left: 50%; bottom: 0; transition: .3s; transform: translate(-50%, 0);}
        &:hover{color: $blue-regular;
            &:after{width: 100%;}
        }
    }
}

.el-slide-down-menu{position: absolute; left: 50%; top: 100%; transform: translate(-50%, 0); display: flex; 
    width: 320px;flex-wrap: wrap; justify-content: center; z-index: 10; background: #fff;
    box-shadow: 0 0 35px 0 rgba(0,0,0, 0.3); padding: 15px; 
    .el-menu-list{ width: 100%; flex-wrap: wrap; margin: 0;
        .list-item{width: 100%; text-align: center;  }
    }
}

.el-regular-button{ display: flex; justify-content: center; align-items: center; font-family: $hind-font;
    font-weight: 400; transition: .3s;  border: 1px solid transparent; line-height: 1;
    &.mod-standart{padding: 8px 0 7px; width: 135px;}
    &.mod-blue{background-color: #27aae1; color: #fff; }
    &:hover{background: transparent; color:#27aae1; border: 1px solid #27aae1; } 
}

.el-underline{width: 100%;  margin: 30px 0;
    &:after{content: " "; display: block;   margin:  0 auto; height: 2px;}
    &.mod-darck-blue{
        &:after{background-color: $blue-dark;}
    }
    &.mod-blue-regular{
        &:after{background-color: $blue-regular;}
    }
}

.el-scroll-button{display: flex; justify-content: center; align-items: center; width: 47px; height: 47px;
     border-radius: 50%; border: 1px rgb(195, 197, 199) dashed; margin: 0 auto; position: relative;
     cursor: pointer; transition: .3s;
     &:hover{border: 1px $blue-regular dashed;}
    .arrow-down {
        color: #000;
        position: absolute;
        width: 1px;
        height: 16px;
        background-color: $blue-regular;
      }      
      .arrow-down:before {
        content: '';
        position: absolute;
        left: -4.1px;
        top: 4px;
        width: 10px;
        height: 10px;
        border-top: solid 1px $blue-regular;
        border-right: solid 1px $blue-regular;
        -webkit-transform: rotate(135deg);
                transform: rotate(135deg);
      }
}

.el-regular-section{padding: 67px 0 60px; color: $blue-dark;
    &.mod-bg-gray{background-color: #f6f6f6;}
    .container{display: flex; flex-wrap: wrap; font-family: $slabo-font;  font-size: 22px;line-height: 1.6;
    
    }
    h2{width: 100%;font-size: 45px; text-align: center; font-family: $hind-font; font-weight: 100; letter-spacing: -1.5px}
    .el-underline{margin: 17px 0 60px;
        &:after{width: 100px;
        }
    }    
}
.el-section-text{text-align: center; margin: 0 auto 0px; font-family: $hind-font; color: $blue-dark;
    font-size: 18px;
    h3{ font-size: 35px; font-weight: 400; color: $blue-regular;}
    p{line-height: 1.6;margin-bottom: 30px; font-family: $slabo-font; }
}

.el-section-content-column{ flex: 1;padding-top: 37px;
    &>p{margin-bottom: 13px; }
    h3{font-size: 20px; margin-bottom: 0px;}
}

.el-section-img-column{margin: 0 30px 0 0; display: flex; align-items: center;}

.el-regular-list{padding-left: 45px;
    &.mod-descktop{display: block;}
    &.mod-mobile{display: none; padding-left: 0px;
        &>li{padding-left: 30px;
            &.is_open{
                &:before{ border-bottom: 2px solid $blue-regular; border-right: 2px solid $blue-regular; transform: rotate(-135deg); top: 0px; left: 0;}     
            }
            &:before{background-image: none; background-color: transparent; width: 15px; height: 15px;
                 border-bottom: 2px solid $gray-regular; border-right: 2px solid $gray-regular; transform: rotate(45deg); opacity: 1; top: 0px; left: 0;}            
        }
        p{line-height: 1.4;margin-bottom: 30px;}
        .popup-list{font-size: 20px; margin-bottom: 20px;
            li{padding-left: 35px;position: relative;
                &:before{content: '';width: 6px; height: 6px; position: absolute; top: 15px; left: 10px;
                background: $blue-regular; }
            }
        }
    }

    &>li{font-size: 20px; position: relative; margin-bottom: 20px;
        &:before{content: ""; background: url("../img/content/right-arrow.png") no-repeat 100% center;
             position: absolute; top: 5px; left: -40px; width: 25px; height: 15px; opacity: 0;
             pointer-events: none; transition: .3s;
        }
        &:hover{ cursor: pointer;
            &:before{opacity: 1;}
            
        }
    }
    h3{color: $blue-regular;}
    p{line-height: 1.3; }      
}

.el-sliding-content{padding: 10px 0;

}



.el-flex-items-cotainer{display: flex; justify-content: space-between; width: 100%; align-items: flex-start; 
    align-content: flex-start;
    .item{width: 320px; display: flex; flex-flow: column wrap; justify-content: space-between;
         align-items: center; font-size: 17px; color: rgba(73, 78, 104, 0.502); line-height: 1.647;
         text-align: center;}
    img{margin-bottom: 30px;}
    h3{font-family: $hind-font; font-size: 30px; color: $blue-regular; width: 100%; text-align: center;
    font-weight: 400; line-height: 1.3;}
    .header-container{display: flex; align-items: center; margin-bottom: 15px;}
}

//slider styles
//---------------------------------------------------------------------------------------------------

.el-slider{width: 100%; margin-bottom: 35px;
    .slick-list{padding: 20px 0;}
    .wrap{width: 260px; height: 230px;position: relative; transition: 0.6s;margin: 0 auto;
        &:hover{ box-shadow: 0px 10px 24.25px 0.75px rgba(64, 64, 64, 0.31);}
    }
    .inner-wrap{position: absolute;width: 100%; height: 100%; top: 50%; left: 50%; transform: translate(-50%, -50%); transition: .6s;
        &:hover{width: 80%; height: 80%; box-shadow :0px 10px 24.25px 0.75px rgba(64, 64, 64, 0.31); }  
        a,img{width: 100%; height: 100%;}
    }
}
.slick-arrow{display: flex; justify-content: center; align-items: center; width: 60px; height: 60px;
     border-radius: 50%; border: 1px rgb(195, 197, 199) dashed; margin: 0 auto; position: absolute; top: 50%;
     cursor: pointer; transform: translate(0, -50%);  transition: .6s;}

.el-right-arrow{ right: -60px; 
    &:hover{border: 1px $blue-regular dashed;}
    .arrow-right.icon {
        color: #000;
        position: absolute;
        width: 26px;
        height: 2px;
        background-color: $blue-regular;
      }
      
      .arrow-right.icon:before {
        content: '';
        position: absolute;
        right: 0px;
        top: -7.5px;
        width: 15px;
        height: 15px;
        border-top: solid 2px $blue-regular;
        border-right: solid 2px $blue-regular;
        -webkit-transform: rotate(45deg);
                transform: rotate(45deg);
      }
}

.el-left-arrow{ left: -60px;
    &:hover{border: 1px $blue-regular dashed;}
    .arrow-left.icon {
        color: #000;
        position: absolute;       
        width: 26px;
        height: 2px;
        background-color: $blue-regular;;
      }
      
      .arrow-left.icon:before {
        content: '';
        position: absolute;
        left: 0px;
        top: -7.5px;
        width: 15px;
        height: 15px;
        border-top: solid 2px $blue-regular;;
        border-right: solid 2px $blue-regular;;
        -webkit-transform: rotate(-135deg);
                transform: rotate(-135deg);
      }  
}


//---------------------------------------------------------------------------------------------------
//slider styles

.el-info-list{margin-bottom: 30px;
    li{margin-bottom: 9px;}
    li,a{display: flex; align-content: center; align-items:  center; color: $blue-dark; font-family: $slabo-font; }
    a:hover{text-decoration: underline;}    
    .img-wrap{ width: 25px;margin-right: 10px; display: flex; justify-content: center; align-items: center;}
}

.el-form-regular{width: 750px;display: flex;flex-wrap: wrap; justify-content:space-between; align-items: flex-start;
    align-content: flex-start;
    input, textarea{ padding: 15px 15px 8px; margin-bottom: 30px; font-size: 18px; color:$gray-regular;
        &::-webkit-input-placeholder {color:$gray-regular;font-size: 18px;}
        &::-moz-placeholder          {color:$gray-regular;font-size: 18px;}/* Firefox 19+ */
        &:-moz-placeholder           {color:$gray-regular;font-size: 18px;}/* Firefox 18- */
        &:-ms-input-placeholder      {color:$gray-regular;font-size: 18px;}   
        &.error{border: 1px solid red; color: red;}       
    }
    input{width: 360px; border: 1px solid #a2a6b3;  
        &:focus{border-bottom: 1px solid #494e68;}    
    }
    textarea{resize: none; width: 100%; border: 1px solid #a2a6b3; 
        &:focus{border-bottom: 1px solid #494e68;}
    }
    .button-cover{ width: 100%;}
    button{text-transform: uppercase; margin: 0px auto 0 ; font-size: 22px; min-width: 210px; padding: 13px 40px;}
    .el-regular-button.mod-standart{padding: 13px 40px;}
    .el-form-field{position: relative; width: 360px;
         b.error{position: absolute; font-size: 13px; bottom: 5px; color: red; left: 10px;}
    }
    

}

//el-footer-column
//---------------------------------------------------------------------------------------------------
.el-footer-column{color: #fff; font-family: $hind-font;
    h3{font-size: 20px; font-weight: 600; margin-bottom: 10px; }
    a{color: #fff; font-weight: 300;
        &:hover{text-decoration: underline;}
    }
}

//el-popup
//---------------------------------------------------------------------------------------------------

.el-popup{width: 460px; padding: 30px;  box-shadow: 0px 10px 24.25px 0.75px rgba(64, 64, 64, 0.31); position: fixed;
    font-family: $slabo-font; font-size: 22px;   top: 50%; left: 20%;transform: translate(0, -50%);  z-index: 5;
    background: #fff; opacity: 0; pointer-events: none; transition: .6s; max-height: 100vh; overflow-y: auto;
    .heading{display: flex; margin-bottom: 30px;
        img{margin-right: 30px;}
        h4{font-size: 35px; color: $blue-regular; }
    }  

    p{line-height: 1.4;margin-bottom: 30px;}
    .popup-list{font-size: 20px; margin-bottom: 20px;
        li{padding-left: 35px;position: relative;
            &:before{content: '';width: 6px; height: 6px; position: absolute; top: 15px; left: 10px;
            background: $blue-regular; }
        }
    }
    .images-list{display: flex;
        img{margin-right: 30px;}
    }
    &.is_visible{opacity: 1; pointer-events: auto;
    }
}

.md-right{
    .el-popup{top: 50%; left: auto; right: 20%;}
}
    

