// header
//-----------------------------------------------------------------------------------
.page-header{
    .inner-wrap{ justify-content: space-between; align-items: flex-end; padding-top: 8px;
        &.mod-mobile{display: none;}
        &.mod-descktop{display: flex;}
    }
    // .el-header-icon{margin-right: 87px;}
    // .el-menu-list{margin-right: 97px;}
    .el-header-icon{margin-right: 30px;}
    .el-menu-list{margin-right: 30px;}
    .el-regular-button{margin-bottom: 5px;
    }
}