.top-block{padding: 117px 0 30px;position: relative; color: $blue-dark;
    h1{ text-align: center; width: 100%;font-family: $hind-font; font-size: 62px; line-height: 1.129; font-weight: 300; letter-spacing: -1.5px 
    }
    .el-underline{
        &:after{width: 187px;
        }
    }
    p{margin-bottom: 37px;}
    .img-container{position: absolute; left: 0; bottom: 0; z-index: -1; height: calc(100% + 73px);
        img{object-fit: cover; width: 100%; height: 100%;}
    }
}
