<include src="../chunks/head.html"></include>

<body>

<div id="page-wrap" class="page-wrap">

  <include src="../chunks/header.html"></include>

  <div id="page-body" class="page-body">
      <include src="../chunks/top-block.html"></include>
      <include src="../chunks/our_approach.html"></include>
      <include src="../chunks/services.html"></include>
      <include src="../chunks/technology.html"></include>
      <include src="../chunks/who_we_are.html"></include>
      <include src="../chunks/portfolio.html"></include>
      <include src="../chunks/contact_us.html"></include>
  </div>

  <include src="../chunks/footer.html"></include>

</div>

<!-- scripts -->
<include src="../chunks/scripts.html"></include>

</body>
</html>
