// import fonts
//-----------------------------------------------------------------------------------
// @mixin font-face($family, $path, $svg, $weight, $style: normal) {
//   @font-face {
//     font-family: $family;
//     src: url("#{$path}.eot");
//     src: url("#{$path}.eot?#iefix") format("embedded-opentype"),
//     url("#{$path}.woff") format("woff"),
//     url("#{$path}.ttf") format("truetype"),
//     url("#{$path}.svg##{$svg}") format("svg");
//     font-weight: $weight;
//     font-style: $style;
//   }
// }

@mixin font-face($style-name, $file:$style-name, $weight:normal, $style:normal) {
  $filepath: "/fonts/" + $file;
  @font-face {
      font-family: quote($style-name);
      src: url($filepath + ".eot");
      src: url($filepath + ".eot?#iefix") format('embedded-opentype'),
      url($filepath + ".woff") format('woff'),
      url($filepath + ".ttf")  format('truetype'),
      url($filepath + ".svg#" + $style-name + "") format('svg');
      font-weight: $weight;
      font-style: $style;
  }
}

@include font-face('Hind', 'Hind-Regular', 400);
@include font-face('Hind', 'Hind-Light', 300);
@include font-face('Hind', 'Hind-Bold', 700);
@include font-face('Hind', 'Hind-Medium', 500);

@include font-face('Slabo', 'Slabo27px-Regular', 400);

@include font-face('MinionPro', 'MinionPro-Regular', 400);
@include font-face('MinionPro', 'MinionPro-Medium', 600);
@include font-face('MinionPro', 'MinionPro-Bold', 400);

// font size px to rem
//-----------------------------------------------------------------------------------
@mixin font-size($px-value) {
  font-size: $px-value / $body-font-size + rem;
}

// letter spacing px to em
//-----------------------------------------------------------------------------------
@mixin letter-spacing($px-value, $font-size) {
  letter-spacing: $px-value / $font-size + em;
}

// relative line height
//-----------------------------------------------------------------------------------
@mixin line-height($px-value, $font-size) {
  line-height: $px-value / $font-size;
}

// gradients
//-----------------------------------------------------------------------------
@mixin gradient-horizontal($start-color: #555, $end-color: #333, $start-percent: 0%, $end-percent: 100%) {
  background-image: -webkit-linear-gradient(left, $start-color $start-percent, $end-color $end-percent);
  background-image: -o-linear-gradient(left, $start-color $start-percent, $end-color $end-percent);
  background-image: linear-gradient(to right, $start-color $start-percent, $end-color $end-percent);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#{ie-hex-str($start-color)}', endColorstr='#{ie-hex-str($end-color)}', GradientType=1);
}

@mixin gradient-vertical($start-color: #555, $end-color: #333, $start-percent: 0%, $end-percent: 100%) {
  background-image: -webkit-linear-gradient(top, $start-color $start-percent, $end-color $end-percent);
  background-image: -o-linear-gradient(top, $start-color $start-percent, $end-color $end-percent);
  background-image: linear-gradient(to bottom, $start-color $start-percent, $end-color $end-percent);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#{ie-hex-str($start-color)}', endColorstr='#{ie-hex-str($end-color)}', GradientType=0);
}

// ratio
//-----------------------------------------------------------------------------------
@mixin aspect-ratio($width, $height) {
  position: relative;

  &:before {
    display: block;
    content: "";
    width: 100%;
    padding-top: $height / $width * 100%;
  }

  > .ratio-inner {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
  }
}


