html {
  -webkit-overflow-scrolling: touch;
}

html,
body {
  min-height: 100%;
}

.page-wrap,
.footer {
  width: 100%;
  margin: 0 auto;
}

.page-wrap {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  height: 100%;
}

.page-body {
  display: flex;
  flex-direction: column;
  flex: 1 0 auto;
}
