// grid breakpoints
$grid-breakpoints: (
  xs: 0,
  sm: 768px,
  md: 992px,
  lg: 1280px
);

// grid containers
$container-max-widths: (
  sm: 720px,
  md: 1170px,
  lg: 1170px
);

// grid columns
$grid-columns:               12 !default;
$grid-gutter-width:          30px !default;

// is grid with flex
$enable-flex: false;

// font
$default-font: Arial, "Helvetica Neue", Helvetica, sans-serif;
$hind-font: Hind, Arial, "Helvetica Neue", Helvetica, sans-serif;
$slabo-font: Slabo, Arial, "Helvetica Neue", Helvetica, sans-serif;
$minionpro-font: MinionPro, Arial, "Helvetica Neue", Helvetica, sans-serif;

$body-font-size: 16px;

// selection color
//-----------------------------------------------------------------------------------
$color-selection: dodgerblue;

$blue-regular: #27aae1;

$blue-dark: #494e68;

$gray-regular: rgb(167, 169, 172);
