// main page
//-----------------------------------------------------------------------------------  

.our_approach{padding-bottom: 90px;
}


.who_we_are{overflow: hidden; padding-bottom: 60px;
    .container{position: relative;}
     .img-container{position: absolute; left: 0; top: -97px; z-index: -1; 
        img{object-fit: cover; width: 100%; height: 100%;}
     }
     .el-section-text{font-size: 20px; margin-bottom: 35px;}
 }
 .technology{padding-bottom: 0px;
 }

 .contuct-us{padding-bottom: 70px;
     .el-section-text{margin-bottom: 35px; font-size: 22px;}
     .el-section-content-column{padding-top: 0px;
        h3{font-size: 30px; margin-bottom: 10px;}
     }
     .button-cover{margin-top: 15px;}
 }

.page-footer{background: #36394d;  padding-top: 45px;
    .lists-wrap{display: flex; justify-content: space-between; padding-right: 50px;}
    .bottom{background-color: #242633; color: #36394d; font-size: 14px;padding: 15px 0; margin-top: 45px;}
}

.portfolio{padding-top: 50px; padding-bottom: 40px;
    &.el-regular-section .el-underline{margin-bottom: 50px;}
    .el-section-text{
        h3{margin-bottom: 10px;}
        p{margin-bottom:20px; }
    }
}


@media screen and (max-width: 1280px){
    //slider
        .el-slider{padding: 0 40px;}
        .slick-arrow{width: 45px; height: 45px;}
        .el-right-arrow{right: 0;
            .arrow-right.icon{
                width: 20px;
                height: 2px;
            }
        }
        .el-left-arrow{left: 0;
            .arrow-left.icon{
                width: 20px;
                height: 2px;
            }
        }
    //

    //contuct-us
        .contuct-us{
            .container{width: 100%;max-width: 720px; padding: 0;}
            .el-section-content-column{display: flex; flex: none; width: 100%; justify-content: center;}
            .contact-wrap{margin: 0 20px;}
            .el-form-regular{margin: 0 auto;
                input{width: 350px;}
            }
        }
    //
}
@media screen and (max-width: 1023px){
    //header
    .page-header{
        .inner-wrap{
            &.mod-mobile{display: flex; position: relative; align-items: center;}
            &.mod-descktop{display: none;}
        }
        
        .el-menu-list{margin: 0;}
        .el-header-icon{width: auto; min-width: auto;}
    }

    //top block
    .top-block{
      h1{font-size: 55px;} 
    } 

    //el-regular-list
    .el-regular-list{ width: 100%;
       &.mod-mobile{display: block;}
       &.mod-descktop{display: none;}
    }
    .el-section-content-column{display: flex; align-items: center; }
    .el-section-img-column{width: 50%;}

    //el-flex-items-cotainer
    .el-flex-items-cotainer{flex-flow: column wrap; align-items: center;
        .item{max-width: 575px; width: 100%;}
    }

    // el-section-text
    .el-section-text{max-width: 575px!important; width: 100%!important;}
    
    //page-footer
    .page-footer{
        .lists-wrap{flex-wrap: wrap; padding: 0;}
        .el-footer-column{width: 100%; display: flex; flex-wrap: wrap; justify-content: center;
            ul{margin-bottom: 20px;}
            li{text-align: center;}
        }  
        h3{ width: 100%; text-align: center; cursor:pointer;}  
    }
}
@media screen and (max-width: 992px){

}
@media screen and (max-width: 767px){
    //top block
    .top-block{
        h1{font-size: 34px;
            span{font-size: 40px;} 
        }
        .el-inner-text-wrap{font-size: 18px; }
      } 

    //.el-section-content-column

    .el-section-content-column{flex: none; width: 100%;
    }
    .el-section-img-column{width: 100%; text-align: center; justify-content: center; margin: 0; }

    //contuct-us
        .contuct-us{
            .container{max-width: 350px;padding: 0 10px;}
            .el-section-content-column{flex-wrap: wrap;}
            .el-form-regular{
                input{width: 100%;}
                .el-form-field{width: 100%;}
            }
        }
    //el-slider
    .el-slider{padding: 0;
        .slick-arrow{background: #fff; border: none; z-index: 5;}
    }
}
@media screen and (max-width: 666px){

}
@media screen and (max-width: 479px){

}
@media screen and (max-width: 320px){

}
  